// Font

$font-family-title: 'Calistoga', 'Open Sans', Arial, sans-serif;
$font-family-default: 'Open Sans', Arial, sans-serif;


$font-size-title: 3.2rem;
$font-size-text: 1.2rem;
$font-size-button: 1.2rem;

$font-color-dark: #fff;
$font-color-light: #000;

// Background

$bckg-color-dark: #424250;

// Button 

$btn-color-light: #FFC107; 
$btn-color-dark: #7B44EF;